<?xml version="1.0"?>
<configuration>

  <system.serviceModel> 
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEWEManagerService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:22587/Epi.Web.ServiceHost/EWEManagerService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEWEManagerService"
        contract="EWEManagerService.IEWEManagerService" name="BasicHttpBinding_IEWEManagerService" />
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
