<?xml version="1.0"?>
<configuration>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IManagerService" />
   </basicHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://localhost:59584/SurveyManagerService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IManagerService"
    contract="SurveyManagerService.IManagerService" name="BasicHttpBinding_IManagerService" />
  </client>
	</system.serviceModel>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true"/>
  </runtime>
</configuration>
