<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Frequency" value="Epi.Analysis.Statistics"/>
    <add key="Means" value="Epi.Analysis.Statistics"/>
    <add key="Graph" value="Epi.Analysis.Statistics"/>
    <add key="LinearRegression" value="Epi.Analysis.Statistics"/>
    <add key="LogisticRegression" value="Epi.Analysis.Statistics"/>
    <add key="ComplexSampleMeans" value="Epi.Analysis.Statistics"/>
    <add key="ComplexSampleFrequency" value="Epi.Analysis.Statistics"/>
    <add key="ComplexSampleTables" value="Epi.Analysis.Statistics"/>
    <add key="CoxProportionalHazards" value="Epi.Analysis.Statistics"/>
    <add key="KaplanMeierSurvival" value="Epi.Analysis.Statistics"/>
    <add key="Summarize" value="Epi.Analysis.Statistics"/>
    <add key="Tables" value="Epi.Analysis.Statistics"/>    
    <add key="Match" value="Epi.Analysis.Statistics"/>
  </appSettings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
</configuration>
