<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
	<appSettings>
		<add key="update_manifest_url" value="ftp://ftp.cdc.gov/pub/software/epi_info/updates.xml"/>
		<add key="latest_file_set_url" value="ftp://ftp.cdc.gov/pub/software/epi_info/update_files/"/>

		<add key="ftp_site" value="ftp://sftp.cdc.gov/DownloadTest/"/>
		<add key="ftp_user_id" value=""/>
		<add key="ftp_password" value=""/>
		<add key="download_directory" value="c:\temp/"/>
		<add key="selected_release" value="/"/>
		<add key="release_text" value="/"/>

	</appSettings>


</configuration>
