<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
	<appSettings>
		<add key="update_manifest_url" value="ftp://ftp.cdc.gov/pub/software/epi_info/updates.xml" />
		<add key="latest_file_set_url" value="ftp://ftp.cdc.gov/pub/software/epi_info/update_files/"/>
	</appSettings>


</configuration>
