<?xml version="1.0"?>
<configuration>
	<configSections>
 </configSections>
	<connectionStrings>
  <add name="Epi.Properties.Settings.Sample7ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Resources\Samples\Sample7.mdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
  <add name="Epi.Properties.Settings.Sample7ConnectionString1" connectionString="Data Source=.\sqlexpress;Initial Catalog=Sample7;Integrated Security=True" providerName="System.Data.SqlClient"/>
  <add name="Epi.Properties.Settings.test00ConnectionString" connectionString="Data Source=.\sqlexpress2005;Initial Catalog=test00;Integrated Security=True" providerName="System.Data.SqlClient"/>
 </connectionStrings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IEWEManagerService" />
    <binding name="BasicHttpBinding_IManagerService" />
    <binding name="BasicHttpBinding_IManagerServiceV3" />
    <binding name="BasicHttpBinding_IManagerServiceV2">
     <security mode="TransportCredentialOnly">
      <transport clientCredentialType="Windows" />
     </security>
    </binding>
    <binding name="BasicHttpBinding_IEWEManagerService1" />
    <binding name="BasicHttpBinding_IManagerService2" />
    <binding name="BasicHttpBinding_IManagerServiceV21" />
    <binding name="BasicHttpBinding_IManagerService1" />
    <binding name="BasicHttpBinding_IManagerServiceV31" />
    <binding name="BasicHttpBinding_IManagerServiceV5" />
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://localhost:22587/Epi.Web.ServiceHost/EWEManagerService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEWEManagerService"
    contract="EWEManagerService.IEWEManagerService" name="BasicHttpBinding_IEWEManagerService" />
   <endpoint address="http://localhost:22587/Epi.Web.ServiceHost/SurveyManagerService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IManagerService"
    contract="SurveyManagerService.IManagerService" name="BasicHttpBinding_IManagerService" />
   <endpoint address="http://localhost:59905/SurveyManagerServiceV3.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IManagerServiceV3"
    contract="SurveyManagerService1.IManagerServiceV3" name="BasicHttpBinding_IManagerServiceV3" />
   <endpoint address="http://episurveymanager.cdc.gov/SurveyManagerServiceV2.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IManagerServiceV2"
    contract="SurveyManagerService.IManagerServiceV2" name="BasicHttpBinding_IManagerServiceV2" />
   <endpoint address="http://localhost:54611/EWEManagerService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEWEManagerService1"
    contract="EWEManagerService.IEWEManagerService" name="BasicHttpBinding_IEWEManagerService1" />
   <endpoint address="http://localhost:59584/SurveyManagerService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IManagerService2"
    contract="SurveyManagerServiceV2.IManagerService" name="BasicHttpBinding_IManagerService2" />
   <endpoint address="http://localhost:59584/SurveyManagerServiceV3.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IManagerServiceV31"
    contract="SurveyManagerServiceV3.IManagerServiceV3" name="BasicHttpBinding_IManagerServiceV31" />
   <endpoint address="http://localhost:59584/SurveyManagerService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IManagerService1"
    contract="SurveyManagerService.IManagerService" name="BasicHttpBinding_IManagerService1" />
   <endpoint address="http://localhost:59584/SurveyManagerServicev2.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IManagerServiceV21"
    contract="SurveyManagerServiceV2.IManagerServiceV2" name="BasicHttpBinding_IManagerServiceV21" />
   <endpoint address="http://localhost:59584/SurveyManagerServiceV5.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IManagerServiceV5"
    contract="SurveyManagerServiceV5.IManagerServiceV5" name="BasicHttpBinding_IManagerServiceV5" />
  </client>
 </system.serviceModel>
</configuration>
