<?xml version="1.0"?>
<configuration>
	<configSections>
 </configSections>
	<connectionStrings>
  <add name="Epi.Properties.Settings.Sample7ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Resources\Samples\Sample7.mdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
  <add name="Epi.Properties.Settings.Sample7ConnectionString1" connectionString="Data Source=.\sqlexpress;Initial Catalog=Sample7;Integrated Security=True" providerName="System.Data.SqlClient"/>
  <add name="Epi.Properties.Settings.test00ConnectionString" connectionString="Data Source=.\sqlexpress2005;Initial Catalog=test00;Integrated Security=True" providerName="System.Data.SqlClient"/>
 </connectionStrings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
