<?xml version="1.0"?>
<configuration>
	<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IManagerService" closeTimeout="00:01:00"
     openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
     allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
     maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
     textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
     messageEncoding="Text">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <security mode="TransportCredentialOnly">
      <transport clientCredentialType="Windows" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="BasicHttpBinding_IEWEManagerService" closeTimeout="00:01:00"
     openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
     allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288"
     maxReceivedMessageSize="65536" useDefaultWebProxy="true" />
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://episurveymanagerdev.cdc.gov/SurveyManagerService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IManagerService"
    contract="ServiceManager.IManagerService" name="BasicHttpBinding_IManagerService" />
   <endpoint address="http://localhost:22587/Epi.Web.ServiceHost/EWEManagerService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEWEManagerService"
    contract="EWEManagerService.IEWEManagerService" name="BasicHttpBinding_IEWEManagerService" />
  </client>
 </system.serviceModel>
</configuration>
